<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" routerLink="/" routerLinkActive="active">Home</a></li>
            <li class="list-inline-item" routerLink="/devicenc" routerLinkActive="active"><a href="#" routerLink="/devicenc" routerLinkActive="active">Services</a></li>
            <li class="list-inline-item" routerLink="/order" routerLinkActive="active"><a href="#" routerLink="/order" routerLinkActive="active">contact us</a></li>
        </ul>
        <p class="copyright">Robish © 2021</p>
    </footer>
</div>