<div class="ft">
    <header>
        <div>
            <h1 class="h">Features</h1>
        </div>
    </header>
    <section class="s2">
        <div class="ft">
            <div class="br1">
                <div class="ft">
                    <span class="ic1"><i class="fas fa-tint"></i></span>
                    <h3 class="feat1">Waterproof</h3>
                </div>
            </div>
            <div class="br2">
                <div class="ft">
                    <span class="ic2"><i class="fas fa-compass"></i></span>
                    <h3 class="feat2">GPS Integrated</h3>
                </div>
            </div>
            <div class="br3">
                <div class="ft">
                    <span class="ic3"><i class="fas fa-hard-hat"></i></span>
                    <h3 class="feat3">Well Built</h3>
                </div>
            </div>
            <div class="br4">
                <div class="ft">
                    <span class="ic4"><i class="fas fa-suitcase"></i></span>
                    <h3 class="feat4">Compact Size</h3>
                </div>
            </div>
        </div>
        <div class="ft">
            <div class="br5">
                <div class="ft">
                    <span class="ic5"><i class="fi-cnslhl-radar"></i></span>
                    <h3 class="feat5">Detects Obstacles</h3>
                </div>
            </div>
            <div class="br6">
                <div class="ft">
                    <span class="ic6"><i class="fas fa-trash-alt"></i></span>
                    <h3 class="feat6">Detects all kinds of trash</h3>
                </div>
            </div>
            <div class="br7">
                <div class="ft">
                    <span class="ic7"><i class="fi-cnsrxl-remote-control"></i></span>
                    <h3 class="feat7">Remote control by mobile app</h3>
                </div>
            </div>
            <div class="br8">
                <div class="ft">
                    <span class="ic8"><i class="fas fa-tint"></i></span>
                    <h3 class="feat8">Auto-Pilot Option</h3>
                </div>
            </div>
        </div>
        <div class="ft">
            <div class="br9">
                <div class="ft">
                    <span class="ic9"><i class="fas fa-solar-panel"></i></span>
                    <h3 class="feat9">Energy Saving</h3>
                </div>
            </div>
            <div class="br10">
                <div class="ft">
                    <span class="ic10"><i class="fas fa-leaf"></i></span>
                    <h3 class="feat10">Eco-Supportive</h3>
                </div>
            </div>
            <div class="br11">
                <div class="ft">
                    <span class="ic11"><i class="fas fa-bell"></i></span>
                    <h3 class="feat11">Anti-Theft Alarm</h3>
                </div>
            </div>
            <div class="br">
                <div class="ft">
                    <span class="ic"><i class="fi-snsuxl-signal-solid"></i></span>
                    <h3 class="feat">Stats Tracker</h3>
                </div>
            </div>
        </div>
        <div>
            <div class="bra">
                <div class="ft">
                    <span class="ica"><i class="fas fa-mobile"></i></span>
                    <h3 class="app">Mobile App</h3>
                </div>
            </div>
        </div>
    </section>
</div>