<header>
    <div class="container">
        <nav class="nav">
            <a href="index.html" class="logo" routerLink="" routerLinkActive="active">Robish <span style="font-size: 10px;position: relative;bottom:20px ;"> &#8482;</span></a>
            <ul class="nav-list">
                <li>
                    <a href="index.html" class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link" routerLink="/features" routerLinkActive="active">Features</a>
                </li>
                <li>
                    <a href="#" class="nav-link" routerLink="/order" routerLinkActive="active">Order Now</a>
                </li>
                <li>
                    <a href="#" class="nav-link" routerLink="/devicenc" routerLinkActive="active">My Device</a>
                </li>
            </ul>
            <a href="#" id="nav-cta">Download app</a>
        </nav>
    </div>
</header>