<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <div class="login">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" name='Code' id="code" placeholder="User CODE">
                </div>
                <div class="connect">
                    <p>*Type The Device Code To Connect it </p>
                    <p *ngIf="permission" style="color: red; font-size: 10px;">your code is incorrect, try again</p>
                </div>
                <button class="button login__submit" (click)='go()'  >
                    <span class="button__text"  >Connect</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
                
            </div>
            
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>