<section>
    <div>
        <h1 class="ha">Order Now To Make That Change</h1>
    </div>
    <div class="order1">
        <div class="order">
            <div>
                <img src="assets/illustrations/Device/bot_icon.gif" alt="" class="logo">
            </div>
            <div class="dis">
                <p>Robish is a robot that helps you with your World Saving mission. Once you scan the QR Code, you tigger robish. Choose the auto-romote mode or control it yoursel using the real-time video. Robish can detetct trash, tells you about its material
                    and even put it in bags based on the material. Now that cleaning beaches is easier, what is your excuse to buy Robish and make s tep towards a cleaner world?</p>
            </div>
        </div>
        <div class="btno">
            <button type="button" class="btn btn-success" id="btn">Order</button>
        </div>
    </div>
</section>
<section>
    <div>
        <h3 class="hb">Got a Problem, Don't be Afraid To Share it With us. </h3>
    </div>
    <button onclick="openForm()" class="btn btn-danger" id="btnc">Contact us</button>

    <div class="form" id="myForm">
        <div>
            <div class="frm">
                <div style="margin: 10px;">
                    <label class="email">Email:</label>
                </div>
                <input type="email" placeholder="Your Email" name="email" style="margin: 10px;">
                <div style="margin: 10px;">
                    <label class="email">Phone Number:</label>
                </div>
                <input type="email" placeholder="Phone Number" name="Phone" style="margin: 10px;">
            </div>
            <div class="frm">
                <div style="margin: 10px;">
                    <label class="email">First Name:</label>
                </div>
                <input type="email" placeholder="Your First Name" name="email" style="margin: 10px;">
                <div style="margin: 10px;">
                    <label class="email">Last Name:</label>
                </div>
                <input type="email" placeholder="Last Name" name="email" style="margin: 10px;">
            </div>
            <h4 class="textarea">Your Problem</h4>
            <textarea cols="30" rows="10" class="tarea"></textarea>
        </div>
        <div class="frm">
            <button type="button" class="btn btn-danger" id="btns" onclick="closeForm()">Cancel</button>
            <button type="button" class="btn btn-success" id="btns">Send</button>
        </div>
    </div>
</section>