<section>
    <div class="map " *ngIf="apiLoaded | async">
        <google-map [options]="mapoptions" height="400px" width="700px" width="100%" (mapClick)="addMarker($event)">
            <map-marker [position]="RobishPosition" [options]="RobishOptions"></map-marker>
            <map-marker [options]="TrashOptions" [position]="TrashPosition" *ngFor="let TrashPosition of TrashPositions" #marker="mapMarker" (mapClick)="openInfoWindow(marker)"></map-marker>
            <map-info-window>
                <div>
                    <h5 style="text-align: center;">This is Trash</h5> <img src="assets/illustrations/Device/Teemo_0.jpg" style="width: 50%;height: auto;  display: block;margin-left: auto;margin-right: auto;">
                </div>
                <div class="trashbtns">
                    <button type="button" class="btn btn-success" style="margin-right: 15px;">Trash</button>
                    <button type="button" class="btn btn-danger">Not Trash</button>
                </div>
            </map-info-window>
            <map-marker *ngFor="let EndPosition of EndPositions" [position]="EndPosition" [options]="EndOptions"></map-marker>
            <map-rectangle [bounds]="bounds"></map-rectangle>
            <map-marker [position]="UserPosition" [options]="UserOptions"></map-marker>
        </google-map>
    </div>
    <div class="profile ">
        <div>
            <img src="assets/illustrations/Device/bot_icon.gif " alt=" " class="av ">
        </div>
        <div class="strt">
            <h1 class="nv ">Device Name</h1>
            <button type="button" class="btn btn-outline-success" style="width: 50%;align-self: center;">Start Scan</button>
        </div>
        <div class="func ">
            <h3 class="st ">Status:ON/OFF</h3>
            <h3 class="st ">Battery Percentage:100%</h3>
            <h3 class="st ">Distance Crossed:50M</h3>
            <h3 class="st " style="margin-bottom: 20px; ">Trashs Detected:30</h3>
            <div class="all-btns ">
                <div class="btns ">
                    <button type="button " class="btn btn-primary">Reboot</button>
                    <button type="button " class="btn btn-danger ">Turn OFF</button>
                </div>
                <div class="btns " style="margin: -15px;">
                    <button type="reset " value="Reset " button type="button " class="btn btn-warning ">Reset Stats</button>
                    <button type="reset " value="Reset " button type="button " class="btn btn-info" (click)="deleteMarkers()">Clear Map</button>
                </div>
            </div>
        </div>
    </div>

</section>