<section>
    <div class="map " *ngIf="apiLoaded | async">
        <google-map [options]="mapoptions" [center]="center" height="400px" width="700px" width="100%" (mapClick)="addMarker($event)">
            <map-marker [position]="RobishPosition" [options]="RobishOptions"></map-marker>
            <map-marker [options]="TrashOptions" [position]="TrashPosition" *ngFor="let TrashPosition of TrashPositions" #marker="mapMarker" (mapClick)="openInfoWindow(marker)"></map-marker>
            <map-info-window>
                <div>
                    <h5 style="text-align: center;">This is Trash</h5> <img src="assets/illustrations/Device/Teemo_0.jpg" style="width: 50%;height: auto;  display: block;margin-left: auto;margin-right: auto;">
                </div>
                <div class="trashbtns">
                    <button type="button" class="btn btn-success" style="margin-right: 15px;">Trash</button>
                    <button type="button" class="btn btn-danger">Not Trash</button>
                </div>
            </map-info-window>
            <map-marker *ngFor="let EndPosition of EndPositions" [position]="EndPosition" [options]="EndOptions"></map-marker>
            <map-rectangle [options]="boundsOptions" [bounds]="bounds"></map-rectangle>
            <map-marker [position]="UserPosition" [options]="UserOptions"></map-marker>
        </google-map>
    </div>
    <div class="profile ">
        <div>
            <img src="assets/illustrations/Device/bot_icon.gif " alt=" " class="av ">
        </div>
        <div class="strt">
            <h1 class="nv ">Device ID : <span class="stat">{{code}} </span></h1>
            <button  type="button" (click)="updateScanning()" class="btn btn-outline-success" style="width: auto;align-self: center;" [disabled]='!status || scanning' [ngClass]="{ 'scanningOff' : !status,'scanningTrue': scanning}">{{!status? "Can't scan while device is off":(scanning? 'Scanning...' : 'Start scan')}}</button>
        </div>
        <div class="func ">
            <h3 class="st ">Status : <span [ngStyle]="!status?{'color': 'red'} : {'color': 'green'}">{{status? 'On' : 'Off'}}</span></h3>
            <h3 class="st ">  Battery Percentage : <span class="stat">{{battery}}%</span></h3>
            <h3 class="st ">  Distance Crossed : <span class="stat">50M </span></h3>
            <h3 class="st " style="margin-bottom: 20px; ">  Trash Detected : <span class="stat">{{trashDetected}} </span></h3>
            <div class="all-btns ">
                <div class="btns ">
                    <button type="button " class="btn btn-primary">Reboot</button>
                    <button type="button " (click)="updateStatus()" class="btn btn-danger ">Turn OFF</button>
                </div>
                <div class="btns " style="margin: -15px;">
                    <button (click)="show() " (click)="showBounds()" type="reset " value="Reset " button type="button " class="btn btn-warning ">Reset Stats</button>
                    <button type="reset " value="Reset " button type="button " class="btn btn-info" (click)="deleteMarkers()">Clear Map</button>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
        setTimeout(function(){
        window.location.reload(1);
        }, 5000);
        </script>
</section>
