<section>
    <div class="map " *ngIf="apiLoaded | async">
        <google-map [options]="mapoptions" height="400px" width="700px" width="100%">
            <map-marker [position]="RobishPosition" [options]="RobishOptions" #marker="mapMarker" (mapClick)="openInfoWindow(marker)"></map-marker>
            <map-info-window>This is Robish</map-info-window>
            <map-marker [options]="TrashOptions" [position]="TrashPosition" *ngFor="let TrashPosition of TrashPositions" #marker="mapMarker" (mapClick)="openTinfoWindow(marker)"></map-marker>
            <map-info-window id="Trash">This is Trash</map-info-window>
            <map-marker [position]="markerPosition" [options]="EndOptions">
            </map-marker>
        </google-map>
    </div>
    <div class="profile ">
        <div>
            <img src="assets/illustrations/Device/bot_icon.gif " alt=" " class="av ">
        </div>
        <div>
            <h1 class="nv ">Device Name</h1>
        </div>
        <div class="func ">
            <h3 class="st ">Status:ON/OFF</h3>
            <h3 class="st ">Battery Percentage:{{battery}}</h3>
            <h3 class="st ">Distance Crossed:50M</h3>
            <h3 class="st " style="margin-bottom: 20px; ">Trash Detected:30</h3>
            <div class="all-btns ">
                <div class="btns ">
                    <button type="button " class="btn btn-success ">Reboot</button>
                    <button type="button " class="btn btn-danger ">Turn OFF</button>
                </div>
                <div style="width: 50%; ">
                    <button (click)="show()" type="reset " value="Reset " button type="button " class="btn btn-warning " style="width: 100%; " id="reset1">Reset Stats</button>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
        setTimeout(function(){
        window.location.reload(1);
        }, 5000);
        </script>
</section>
