section {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
    align-items: center;
}

.av {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.trashbtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    align-items: stretch;
}

.strt {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    border: solid 2px #ffffff;
    border-radius: 25px;
    background-color: #ffffff;
    height: 900px;
    border-bottom: 10px #1a5274 solid;
    border-top: 10px #1a5274 solid;
    flex-basis: 35%;
}

.map {
    border: 10px solid #ffffff;
    height: 400px;
    animation-name: bounce;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    flex-basis: 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.nv {
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #1a5274;
    margin-bottom: 20px;
}

.st {
    font-size: 20px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
    position: relative;
    top: 20px;
}

.func {
    display: flex;
    flex-direction: column;
}

.btns {
    margin-block: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-inline: 0px;
    width: 100%;
}

.all-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns button {
    flex-basis: 45%;
}

@media only screen and (max-width: 1000px) {
    section {
        flex-direction: column;
    }
    .map {
        width: 75%;
        margin-block: 50% 30%;
    }
    .profile {
        width: 75%;
        padding-block-end: 10%;
    }
}

@media only screen and (min-width: 1600px) {
    .all-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 30px;
        position: relative;
    }
    .btns {
        margin-block: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-inline: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .map {
        border: 10px solid #ffffff;
        height: 400px;
        animation-name: bounce;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
        flex-basis: 50%;
    }
}