<div class="div1">
    <div class="description">
        <h1>Beach Pollution Poses an <span>Immediate </span> Threat</h1>
        <p>Polluted beach water makes swimmers sick and hurts coastal economies. Illnesses associated with polluted beach water can range from stomach flu to hepatitis. In addition, there may be deep financial impacts: the economic loss for each day on which
            a beach is closed or under advisory for water quality problems can be quite significant. Not to mention its effects on marine life: bits of plastic swirl throughout the water column, even sinking to the deepest depths of the ocean, which then
            get consumed by many marine mammals.
        </p>
    </div>
    <img src="assets/illustrations\Images BG Removed\Asset_6.png" alt="" class="illustration">
</div>
<div class="div2">
    <img src="assets/illustrations\Images BG Removed\Asset 10.svg" alt="" class="illustration">
    <div class="description">
        <h1>You Can <span>Help</span>! </h1>
        <p>We are a team of dedicated environmetalists that firmly believe it's in our power to make a drastic shift in our beaches, but we can't do that alone. Everyone can do their bit to help and your help will be appreciated by not only us but also by
            people you've saved from chronic deseases and by futures generations. Join us!
        </p>
    </div>
</div>
<div class="div3">
    <div class="solution">
        <h1>We have the Solution</h1>
        <p>We present to you <span>ROBISH</span>, the innovation we are convinced will be a game changer in the fight against beach pollution</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="assets/illustrations\Images BG Removed\Asset 11.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Easy to Use</h2>
                <p class="card-text">We made sure that our product is not only simple and to the point but also extremely user-friendly. </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/illustrations\Images BG Removed\Asset 3.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Effective</h2>
                <p class="card-text">ROBISH will facilitate the work our volunteers have to do and promise great results.</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/illustrations\Images BG Removed\Asset 7.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2>The Future </h2>
                <p class="card-text">ROBISH's audience will increase with time and we hope it will inspire other advents targetting the same goal. </p>
            </div>
        </div>
    </div>
</div>